<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Poppins-Bold.ttf</string>
		<string>Poppins-Regular.ttf</string>
		<string>Poppins-SemiBold.ttf</string>
	</array>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>com.googleusercontent.apps.207446049793-80k1bo4ntpa8a1hq72nre2sdml7mrfso</string>
        </array>
      </dict>
    </array>
    <key>GoogleSignIn</key>
    <dict>
      <key>HostedDomain</key>
      <string></string>
    </dict>
</dict>
</plist>
